
<ul class="off-canvas-list">

        <li ><a href="{{menuPath}}/{{menuYear}}/{{menuDate}}-btl.html">FULL SITE</a></li>
        <li ><a href="{{menuPath}}/infoonbtl.html">ABOUT BTL</a>
            <ul >
                <li><a href="{{menuPath}}/infoonbtl.html#History">History</a></li>
                <li><a href="{{menuPath}}/infoonbtl.html#Staff">Staff</a></li>
                <li><a href="http://www.squeakywheel.net">
                    Squeaky Wheel Productions</a></li>
            </ul>
        </li>
        <li ><a href="http://mblx.btlonline.org/archives.html">ARCHIVES</a>
            <ul c>
                <li><a href="http://mblx.btlonline.org/archives.html">
                    Current Year’s Programs</a></li>
                <li><a href="http://mblx.btlonline.org/archives-molder.html">
                    Previous Years’ Programs</a></li>
                <li><a href="https://lists.riseup.net/www/arc/btlqa">
                    BTL Q&amp;A Transcripts</a></li>
            </ul>
        </li>
        <li ><a href="{{menuPath}}/btlbroadcastsked.html">SCHEDULE</a>
            <ul >
                <li><a href="{{menuPath}}/btlbroadcastsked.html#UnitedStates">US</a></li>
                <li><a href="{{menuPath}}/btlbroadcastsked.html#International">
                    International</a></li>
            </ul>
        </li>
        <li ><a href="{{menuPath}}/affiliates.html" title="Learn how to air BTL">FOR STATIONS</a>
            <ul >
                <li><a href="{{menuPath}}/affiliates.html#BroadcastQualityMP3">
                    Current Broadcast MP3</a></li>
                <li><a href="{{menuPath}}/affiliates.html">Affiliate Info</a></li>
            </ul>
        </li>
        <li ><a href="{{menuPath}}/supportBTL.html">SUPPORT BTL</a>
            <ul >
                <li><a href="{{menuPath}}/supportBTL.html#Volunteer">Volunteer</a></li>
                <li><a href="http://www.squeakywheel.net/donate.html">Donate</a></li>
            </ul>
        </li>
        <li><a href="http://www.squeakywheel.net/donate.html">DONATE</a></li>
        <li><a href="{{menuPath}}/contactBTL.html">CONTACT US</a></li>
    </ul>
