<div id="Content" class="large-11 large-offset-1 columns">
    <p class="credit">{{creditText}}</p>
    <div class="segblock">
        <img class="floatleft" height="271" src="{{ledeImageUrl}}" width="425" alt="lede" />
        <!--next line has triple brackets to prevent escaping the html-->
        {{{ledeHtml}}}
        <hr />
        <p>Listen to the entire program using these links, or to individual
            interviews via the links appearing prior to each segment description
            below.</p>
        <p class="credit">
            &nbsp;<a href="{{fullShowMp3}}">
            <img height="14" src="/images/MP3.png" alt="MP3" width="24" /> &nbsp;64 kb/s</a>
            <!-- the following url and image is always the same -->
            &nbsp;<a href="/affiliates.html#BroadcastQualityMP3">
            <img height="11" src="/images/HQ.jpg" alt="HQ" width="24" /> &nbsp;broadcast quality</a>
            <!-- the following url and image is always the same -->
            &nbsp;<a href="http://itunes.apple.com/podcast/between-the-lines-radio-newsmagazine/id387215195">
            <img height="18" src="/images/podcast.png" alt="podcast" width="18" /> &nbsp;Podcast</a>
        </p><hr/></div>
    <!-- ================================================ -->

    <div class="segblock">
        <h3>{{segAHeadline}}</h3>

        <p class="italic">
            <a href="{{segAmp3Url}}">
                <img height="16" src="/images/MP3.png" alt="MP3" width="24" /></a>
            Interview with {{segAguestName}}, {{segAguestTitle}}, conducted by {{segAinterviewer}}
        </p>
        <img class="floatleft" height="199" src="{{segAimageSrc}}" width="300" alt="{{segAimageAltText}}" />
        <p>{{segApara1}}
            <a href="#segA" class="moreLink">show/hide more...</a>
        <div id="segA" class="more">
            <p>{{{segAmore}}}</p>
        </div>
        <script>
            $('.moreLink').on('click', function (e) {
                e.preventDefault();
                var targetDiv = $($(this).attr('href'));
                if (!targetDiv.is(':visible')) {
                    $('.more').slideUp();
                    targetDiv.slideDown();
                } else {
                    $('.more').slideUp();
                }
            });
        </script>

    </div>
    <!-- ================================================ -->

    <div class="segblock">
        <h3>{{segBHeadline}}</h3>

        <p class="italic">
            <a href="{{segBmp3Url}}">
                <img height="16" src="/images/MP3.png" alt="MP3" width="24" /></a>
            Interview with {{segBguestName}}, {{segBguestTitle}}, conducted by {{segBinterviewer}}
        </p>
        <img class="floatright" height="169" src="{{segBimageSrc}}" width="300" alt="{{segBimageAltText}}" />
        <p>{{{segBpara1}}}<a href="#segB" class="moreLink">  show/hide more...</a>
        <div id="segB" class="more">
            <p>{{{segBmore}}}</p>
        </div>
    </div>
    <!-- ================================================ -->

    <div class="segblock">
        <h3>{{segCHeadline}}</h3>

        <p class="italic">
            <a href="{{segCmp3Url}}">
                <img height="16" src="/images/MP3.png" alt="MP3" width="24" /></a>
            Interview with {{segCguestName}}, {{segCguestTitle}}, conducted by {{segCinterviewer}}
        </p>
        <img class="floatright" height="169" src="{{segCimageSrc}}" width="300" alt="{{segCimageAltText}}" />
        <p>{{{segCpara1}}}<a href="#segC" class="moreLink">show/hide more...</a>
        <div id="segC" class="more">
            <p>{{{segCmore}}}</p>
        </div>
    </div>

</div>