<section id="Content" class="small-12 columns">
    <p class="credit">Posted Month Day, Year for week ending Month Day, Year</p>
    <div class="row">

        <div class="small-9 column">
            <img src="{{ledeImageUrl}}" alt="lede"/>
        </div>
        <div class="small-3 column italic">

                <a href="{{menuPath}}/{{menuYear}}/mp3/{{menuDate}}-btlv64.mp3" class="mp3link">
                    Play entire program
                    <div class="circle">
                        <div class="arrow"></div>
                    </div>
                </a>
            <br />
            <a class="mp3link" href="https://itunes.apple.com/us/podcast/between-lines-radio-newsmagazine/id387215195?mt=2');" > Podcast <img width="40%"  src="images/podcast-black.jpg"></a><div></div>

        </div>
    </div>
    <div class="row hide-for-small-only medium-12 columns">
        {{{ledeHtml}}}
    </div>
    <div class="row small-12 columns">
        <hr/>
        <h3>{{segAHeadline}} <a class="italic" href="#">&nbsp;more...</a></h3>

    </div>

    <div class=" row small-12 column">
        <a href="#">
        <img src="{{segAimageSrc}}" alt="{{segAimageAltText}}" class="ImgBottomMargin"/>
        </a>
    </div>
    <div class="row">
        <div class="small-9 columns ">
            <a href="{{segAmp3Url}}" class="italic"> Interview with {{segAguestName}}, {{segAguestTitle}}
                , conducted by {{segAinterviewer}} </a>
        </div>
        <div class="small-2 columns">
            <a href="{{segAmp3Url}}" class="mp3link">
                <div class="circle">
                    <div class="arrow"></div>
                </div>
            </a>
        </div>
        <div class="small-1"></div>
    </div>
    <div class="row small-12 columns">
        <hr/>
        <h3>{{segBHeadline}} <a class="italic" href="#">&nbsp;more...</a></h3>
    </div>

    <div class=" row small-12 column">
        <a href="#">
        <img src="{{segBimageSrc}}" alt="{{segBimageAltText}}" class="ImgBottomMargin"/>
            </a>
    </div>
    <div class="row">
        <div class="small-9 columns ">
            <a href="{{segBmp3Url}}"  class="italic">
                Interview with {{segBguestName}}, {{segBguestTitle}}, conducted by {{segBinterviewer}}
            </a>

        </div>
        <div class="small-2 columns">
            <p></p>
            <a href="{{segBmp3Url}}" class="mp3link">
                <div class="circle">
                    <div class="arrow"></div>
                </div>
            </a>
        </div>
        <div class="small-1"></div>
    </div>
    <div class="row small-12 columns">
        <hr/>
        <h3>{{segCHeadline}} <a class="italic" href="#">&nbsp;more...</a></h3>
    </div>

    <div class=" row small-12 column">
        <a href="#">
        <img src="{{segCimageSrc}}" alt="{{segCimageAltText}}" class="ImgBottomMargin" />
            </a>
    </div>
    <div class="row">
        <div class="small-9 columns ">
            <a href="{{segCmp3Url}}"  class="italic">Interview with {{segCguestName}}, {{segCguestTitle}}, conducted by {{segCinterviewer}} </a>
        </div>
        <div class="small-2 columns">
            <p></p>
            <a href="{{segCmp3Url}}" class="mp3link">
                <div class="circle">
                    <div class="arrow"></div>
                </div>
            </a>
        </div>
        <div class="small-1"></div>
    </div>
    <hr/>

</section>
<script>
    $(document).ready(function () {
        $('div.expandable').expander({
            slicePoint: 200,
            expandText: 'show more',
            userCollapseText: ' show less'
        });
    });
</script>