<div id="Content" class="large-11 large-offset-1 columns">
    <p class="credit">{{creditText}}</p>
    <div class="segblock">
        <img class="floatleft" height="271" src="{{ledeImageUrl}}" width="425" alt="lede" />
        <!--next line has triple brackets to prevent escaping the html-->
        {{{ledeHtml}}}
        <hr />
        <p>Listen to the entire program using these links, or to individual
            interviews via the links appearing prior to each segment description
            below.</p>
        <p class="credit">
            &nbsp;<a href="{{fullShowMp3}}">
            <img height="14" src="/images/MP3.png" alt="MP3" width="24" /> &nbsp;64 kb/s</a>
            <!-- the following url and image is always the same -->
            &nbsp;<a href="/affiliates.html#BroadcastQualityMP3">
            <img height="11" src="/images/HQ.jpg" alt="HQ" width="24" /> &nbsp;broadcast quality</a>
            <!-- the following url and image is always the same -->
            &nbsp;<a href="http://itunes.apple.com/podcast/between-the-lines-radio-newsmagazine/id387215195">
            <img height="18" src="/images/podcast.png" alt="podcast" width="18" /> &nbsp;Podcast</a>
        </p><hr/></div>
    <!-- ================================================ -->

    <div class="segblock">
        <h3>{{segAHeadline}}</h3>

        <p class="italic">
            <a href="mp3/140711a-btl-clarkson.mp3">
                <img height="16" src="/images/MP3.png" alt="MP3" width="24" /></a> Interview with {{segAguestName}}, {{segAguestTitle}}, conducted by {{segAinterviewer}}
        </p>
        <img class="floatleft" height="199" src="{{segAimageSrc}}" width="300" alt="{{segAimageAltText}}" />
        <p>{{segApara1}}


            <a href="#div1" class="navLink">more...</a>
        <div id="div1" class="more">
            <p>{{segAmore}}</p>
        </div>
        </p>
        <script>
            $('.navLink').on('click', function (e) {
                e.preventDefault();
                var targetDiv = $($(this).attr('href'));
                if (!targetDiv.is(':visible')) {
                    $('.more').slideUp();
                    targetDiv.slideDown();
                } else {
                    $('.more').slideUp();
                }
            });
        </script>

    </div>
    <!-- ================================================ -->

    <div class="segblock">
        <h3><a href="seg/140711bf-btl-brown.html">Project Investigates Pennsylvania Health Problems to Determine Links with Natural Gas Fracking</a></h3>

        <p class="italic">
            <a href="mp3/140711b-btl-brown.mp3">
                <img height="16" src="/images/MP3.png" alt="MP3" width="24" /></a> Interview with {{segBguestName}}, {{segBtitle}}, conducted by {{segBinterviewer}}
        </p>
        <img class="floatright" height="169" src="i/140711b-fracking.jpg" width="300" alt="fracking" />
        <p>{{segBpara1}}

            <a class="italic" href="seg/140711bf-btl-brown.html">&nbsp;Story continues</a></p>
    </div>
    <!-- ================================================ -->

    <div class="segblock">
        <h3><a href="seg/140711cf-btl-lopez.html">One Year After Supreme Court Dismantles Voting Right Act, 22 States Have Adopted New Voting Restrictions</a></h3>

        <p class="italic">
            <a href="mp3/140711c-btl-lopez.mp3">
                <img height="16" src="/images/MP3.png" alt="MP3" width="24" /></a> Interview with {{segCguestName}}, {{segCtitle}}, conducted by {{segCinterviewer}}
        </p>
        <img class="floatleft" height="229" src="i/140711c-voting.jpg" width="300" alt="voting" />
        <p>{{segCpara1}}

            <a class="italic" href="seg/140711cf-btl-lopez.html">&nbsp;Story continues</a></p>
    </div>

</div>