<section id="Content" class="small-12 columns">
    <p class="credit">Posted Month Day, Year for week ending Month Day, Year</p>
    <div class="row">

        <div class="small-9 column">
            <img src="{{ledeImageUrl}}" alt="lede"/>
        </div>
        <div class="small-3 column italic">
            <br />
                <a href="{{menuPath}}/{{menuYear}}/mp3/{{menuDate}}-btlv64.mp3" class="mp3link">Play entire program
                    <div class="circle">
                        <div class="arrow"></div>
                    </div>
                </a>

        </div>
    </div>
    <div class="row hidden-for-small medium-12">
        {{{ledeHtml}}}
    </div>
    <div class="row small-12 columns">
        <hr/>
        <h3>{{segAHeadline}}</h3>
    </div>

    <div class=" row small-12 column">
        <img src="{{segAimageSrc}}" alt="{{segAimageAltText}}" class="ImgBottomMargin"/>
    </div>
    <div class="row">
        <div class="small-9 columns ">
            <span class="italic"> Interview with {{segAguestName}}, {{segAguestTitle}}
                , conducted by {{segAinterviewer}} </span>
        </div>
        <div class="small-2 columns">
            <a href="{{segAmp3Url}}" class="mp3link">
                <div class="circle">
                    <div class="arrow"></div>
                </div>
            </a>
        </div>
        <div class="small-1"></div>
    </div>
    <div class="row small-12 columns">
        <hr/>
        <h3>{{segBHeadline}}</h3>
    </div>

    <div class=" row small-12 column">
        <img src="{{segBimageSrc}}" alt="{{segBimageAltText}}" class="ImgBottomMargin"/>
    </div>
    <div class="row">
        <div class="small-9 columns ">
            <span class="italic">
                Interview with {{segBguestName}}, {{segBguestTitle}}, conducted by {{segBinterviewer}}
            </span>

        </div>
        <div class="small-2 columns">
            <p></p>
            <a href="{{segBmp3Url}}" class="mp3link">
                <div class="circle">
                    <div class="arrow"></div>
                </div>
            </a>
        </div>
        <div class="small-1"></div>
    </div>
    <div class="row small-12 columns">
        <hr/>
        <h3>{{segCHeadline}}</h3>
    </div>

    <div class=" row small-12 column">
        <img src="{{segCimageSrc}}" alt="{{segCimageAltText}}" class="ImgBottomMargin" />
    </div>
    <div class="row">
        <div class="small-9 columns ">
            <span class="italic">Interview with {{segCguestName}}, {{segCguestTitle}}, conducted by {{segCinterviewer}} </span>
        </div>
        <div class="small-2 columns">
            <p></p>
            <a href="{{segCmp3Url}}" class="mp3link">
                <div class="circle">
                    <div class="arrow"></div>
                </div>
            </a>
        </div>
        <div class="small-1"></div>
    </div>
    <hr/>

</section>
<script>
    $(document).ready(function () {
        $('div.expandable').expander({
            slicePoint: 200,
            expandText: 'show more',
            userCollapseText: ' show less'
        });
    });
</script>